body {
  background-image: url(https://t4.ftcdn.net/jpg/01/31/15/51/360_F_131155172_4ZVdaT7YF5yJHqircjy59DDxV6aWFds9.jpg);
  background-image: 100%;
  background-size: 400em;
  background-repeat: no-repeat;
}
.container {
  width: 80%;
  margin: auto;
}
.number {
  font-size: 2em;
  display: inline-block;
  border: 2px solid black;
  padding: 2em;
  margin: 0.2em;
  width: 20px;
  border-radius: 100px;
  font-weight: bold;
}
.chosen {
  color: rgb(0, 0, 0);
  background-color: rgba(223, 31, 31, 0.699);
}
h1 {
  font-size: 8em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}
#tab {
  margin: auto;
}
#button,
#button2 {
  color: white;
  font-size: 9em;
  background-color: black;
  margin: 1em 0 1em 0;
  border-radius: 25px;
}

.playersTab {
  font-size: 2em;
  display: inline-block;
  border: 2px solid black;
  padding: 1em;
  margin: 0.2em;
  width: 10px;
}
/* #players {
  width: 25%;
} */
.divco {
  margin: 1em;
  display: inline-block;

  width: 23%;
}
.playersTab {
  font-size: 2em;
  display: inline-block;
  border: 2px solid black;
  padding: 35px;
  margin: 0.2em;
  width: 20px;
  border-radius: 25px;
}
